.array-container {
  margin-top: 100px;
  background-color: black;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 25px;
  background-color: DarkTurquoise;
}

.button {
  background-color: #008a8a; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 5px;
}
.button:hover {
  background-color: #067272; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 5px;
}

.button:disabled {
  background-color: #525353; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 5px;
}

.slider-div {
  border: none;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 5px;
  width: 250px;
  height: auto;
  position: relative;
  top: 10px;
}

html {
  background-color: black;
}
